#rootPane {
     -fx-background-image: url("../images/background.png");
 }

.scroll-pane, .scroll-pane > .viewport {
    -fx-background-color: transparent;
}

#dialogContainer {
    -fx-spacing: 16;
    -fx-padding: 18;
}

.dialog-box {
    -fx-spacing: 4;
}

.dialog-box > VBox {
    -fx-background-color: rgba(20, 20, 20, 0.65);
    -fx-background-radius: 14;

    -fx-border-color: rgba(255, 255, 255, 0.20);
    -fx-border-radius: 14;
    -fx-border-width: 1;

    -fx-padding: 10 12 10 12;
}

.dialog-box > .label {
    -fx-background-color: rgba(20, 20, 20, 0.65);
    -fx-background-radius: 14;

    -fx-border-color: rgba(255, 255, 255, 0.20);
    -fx-border-radius: 14;
    -fx-border-width: 1;

    -fx-padding: 10 12 10 12;
}

.dialog-box > .label {
    -fx-text-fill: rgba(255, 255, 255, 0.92);
    -fx-font-size: 14px;
}

#bottom-hbox {
    -fx-spacing: 5;
}

#bottom-hbox > .text-field {
    /* Background styling */
    -fx-background-radius: 20;
    -fx-background-color: rgba(30, 30, 30, 0.55);

    /* Border styling */
    -fx-border-color: rgba(200, 200, 200, 0.92);
    -fx-border-width: 1;
    -fx-border-radius: 20;

    /* Text styling */
    -fx-text-fill: rgba(255, 255, 255, 0.9);
}

#bottom-hbox > .button {
    /* Background styling */
    -fx-background-radius: 15;
    -fx-background-color: rgba(84, 22, 8, 1);

    /* Border styling */
    -fx-border-radius: 15;

    /* Text styling */
    -fx-text-fill: rgba(255, 255, 255, 0.9);
}

.scroll-bar:vertical {
    -fx-background-color: transparent;
    -fx-pref-width: 12;
}

.scroll-bar:vertical .track {
    -fx-background-color: transparent;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: rgba(255, 255, 255, 0.4);
}

.scroll-bar:vertical .thumb:hover {
    -fx-background-color: rgba(255, 255, 255, 0.7);
}

.task-hbox > .label {
    -fx-text-fill: rgba(255, 255, 255, 0.9);
}